*{
    margin: 0;
    padding: 0;;
    font-family: 'Montserrat Alternates', sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #2D2e3F,#2D265A);
}
.main {
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #5D6D76,#566590);
    border-radius: 5px;
    
}
.main button{
    padding: 10px 12px;
    margin: 0 10px;
}
.main #logo {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 25px;
    color: #ccc;
}
.main #logo i{
    margin-right: 15px;
}

/*============================= Left & Rigth Part=================== */

.right ,.left {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* =========================== Song Images================================== */


.left img {
    height: 300px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 0 20px 12px rgba(240, 240, 240, 0.2);
}

/* ============================== Both range slider========================= */
input[type="range"]{
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 2px;
    margin: 0 15px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #ff8a65;
    border-radius: 50%;
    cursor: pointer;
}
.right input[type="range"]{
    width: 40%;
}
/* ==================== Volume Part =============== */
.left .volume {
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.left .volume p {
    font-size: 15px;
}
.left .volume i {
    cursor: pointer;
    padding: 8px 12px;
    background: #ff8a65;
    transition: .2s;
}
.left .volume i:hover {
    background: rgba(245,245,245,0.1);
}
.volume #volume_show {
    padding: 8px 12px;
    margin: 0 5px 0 0;
    background: rgba(245,245,245,0.1);
}

/* ==============================Right Part================== */
.right .middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .middle button{
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: .5s;
    background: rgba(245,245,245,0.1);
}
.right #title {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    font-size: 35px;
}
.right #artist {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
}
.right .duration {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    margin-top: 40px;
}
.right #auto_play {
    font-size: 18px;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    background: rgba(245,245,245,0.2);
    outline: none;
    border-radius: 10px;
}
.right #auto_play  i{
    margin-left: 8px;
}
#play {
    background: #ff8a65;
}
.right button:hover {
    background: #ff8a65;
}
.right i {
    color: #fff;
    font-size: 20px;
}
.right .show_song_no {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    background: rgba(255,255,255,0.2);
}
.right .show_song_no p:nth-child(2){
    margin: 0 5px;
}

/*======================== responsive design============= */
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        position: relative;   
    }
    .right ,.left {
        height: 50%;
        width: 100%;
    }
    .left img {
        height: 200px;
        margin-top: 30px;
    }
    .right .middle {
        position: absolute;
        bottom: 44%;
    }

    .right .middle button{
        height: 50px;
        width: 50px;
    }
    .right i {
        font-size: 13px;
    }
    .right {
        margin-top: 130px;;
    }
    .left img {
        position: absolute;
        top : 50px
    }
    .right #title {
        position: absolute;
        top: -243px;
        width: 100%;
        text-align: center;
        font-size: 32px;
    }
    .main #logo {
        font-size: 20px;
        left: 15px;
    }
    .main #logo i{
        margin-right: 10px;
    }
    .left .volume {
        bottom: -112px;
    }

    .right .show_song_no {
        top: -273px;
        right: 8px;
    }
    .right #auto_play {
        position: absolute;
        bottom: 14%;
        font-size: 13px;
    }
    .right .duration {
        position: relative;
        bottom: -42px;
    }
    
    .right input[type="range"] {
    width: 80%;
    }
    .right #artist {
        top: 6px;
    }

}
